body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #b99cd4
} div {
  font-size: 24px;
  background-color: #00d1ff;
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
}
